<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Fisrtname</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>Avatar</th>
      <th>Nickname</th>
      <th>Phone</th>
      <th>Municipality</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.rut %></td>
        <td><%= user.fisrtname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.age %></td>
        <td><%= user.avatar %></td>
        <td><%= user.nickname %></td>
        <td><%= user.phone %></td>
        <td><%= user.municipality %></td>
        <td><%= user.city %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
