<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @user.rut %>
</p>

<p>
  <strong>Fisrtname:</strong>
  <%= @user.fisrtname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @user.municipality %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
